<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

<p th:text="${person.getName() + ', ' + person.getYearOfBirth()}">VALUE</p>
<!--<p th:text="${person.getYearOfBirth()}">VALUE</p>-->


<div th:if="${books.isEmpty()}">
    <p>This person hasn't picked up a single book yet.</p>
    <hr/>
</div>

<div th:unless="${books.isEmpty()}">
    <hr/>
    <b>Books:</b>
    <br/>

    <table th:each="book : ${books}">
        <a th:href="@{/books/{bookId}(bookId=${book.getBookId()})}"
           th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">Book</a>
    </table>

    <!--    <li class="book-item" th:each="book : ${books}">-->
    <!--        <a class="book-link" th:href="@{/books/{bookId}(bookId=${book.getBookId()})}"-->
    <!--           th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">Book</a>-->
    <!--    </li>-->

</div>



<!--<a th:href="@{/people/{personId}/edit(personId=${person.getPersonId()})}">Edit</a>-->

<form th:method="GET" th:action="@{/people/{personId}/edit(personId=${person.getPersonId()})}">
    <input type="submit" value="Edit">
</form>

<form th:method="DELETE" th:action="@{/people/{personId}(personId=${person.getPersonId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>
